<div class="container-fluid">
  <div class="row">
    <button class="btn-default" ng-click="validateSample()">Validar muestra</button>
    <button class="btn-default" ng-click="cancelSample()">Cancelar muestra</button>
    <button class="btn-default" ng-click="selTest()">Añadir prueba</button>
    <button class="btn-default" ng-click="addNote()">Añadir nota</button>
    <button class="btn-default" ng-click="viewReport()">Ver informe</button>
    <button class="btn-default" ng-click="save()">Guardar</button>
  </div>
  <div class="alert alert-warning" ng-show="sample.nc_desc != ''">{{sample.nc_desc}}</div>
  <div class="alert alert-info" ng-show="sample.comments != ''">{{sample.comments}}</div>
  <div class="alert alert-danger" ng-show="nouser">Usuario no definido</div>

  <sl-test ng-repeat="test in sample.tests"></sl-test>

</div>

<div class="dropdown position-fixed" id="menu-test">
  <ul class="dropdown-menu" role="menu">
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="validateTest()">
        Validar
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="unvalidateTest()">
        Desvalidar
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="rerunTest()">
        Repetir
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="cancelTest()">
        Cancelar
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="selSpecimen()">
        Nuevo organismo
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="addTestComment()">
        Observaciones
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="showNote('Hola Alfredo')">
        Muestra nota
      </a>
    </li>
  </ul>
</div>


<div class="dropdown position-fixed" id="menu-isolation">
  <ul class="dropdown-menu" role="menu">
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="changeSpecimen()">
        Cambiar organismo
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="selPanelATB()">
        Añadir antibiograma
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="selATB()">
        Añadir antibiótico
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="deleteIsolation()">
        Borrar
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="isolationHistory()">
        Histórico
      </a>
    </li>
  </ul>
</div>

