<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Selecciona antibiótico</h4>
      </div>
      <div class="modal-body">
        <ui-select id="input_atb" ng-model="atb_sel.atb" theme="bootstrap">
          <ui-select-match placeholder="Antibióticos...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="atb in atbs|filter:$select.search">
            <span ng-bind-html="atb | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
