<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Selecciona texto</h4>
      </div>
      <div class="modal-body">
        <input id="predeftextid" style="width: 100%" type="text" ng-model="selected" typeahead="ptext for ptext in ptexts | filter: $viewValue"
               typeahead-min-length="1" typeahead-editable=true ng-keypress="onKeyPress($event)">
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
