<div style="width:1200px"  ng-show="!isolation.atbs.length && !isolation.delete" ng-class="{isolation_selected:isolation.selected}" ng-click="select_isolation(isolation)"
     context-menu context-menu-disabled="!isolation.selected" data-target="menu-isolation">
  <table  style="width:1100px;border: none">
    <tr>
      <td style="width:300px" class="isolation" ng-class="{isolation_selected:isolation.selected}">
        <span style="width: 280px;"  ng-show="isolationHisto(isolation)" class="btn btn-primary text-left" ng-click="showIsolationHisto(isolation)">{{isolation.specimen.name}} <span class="badge">{{isolation.histo.length-1}}</span></span>
        <span style="width: 280px;" ng-show="!isolationHisto(isolation)">{{isolation.specimen.name}}</span>
      </td>
      <td style="width:300px">
        <ui-select  style="width:300px" ng-model="isolation.ufc" theme="bootstrap" ng-show="!isolation_readonly(test, isolation)">
          <ui-select-match placeholder="UFCs...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="cfu in cfus|filter:$select.search">
            <span ng-bind-html="cfu | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span style="font-weight: bold" ng-show="isolation_readonly(test, isolation)">{{isolation.ufc}}</span>
      </td>
      <td style="width:450px">
        <ui-select ng-model="isolation.resistance" theme="bootstrap"  ng-show="!isolation_readonly(test, isolation)">
          <ui-select-match placeholder="Resistencia...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="resistence in resistences|filter:$select.search">
            <span ng-bind-html="resistence | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span style="font-weight: bold" ng-show="isolation_readonly(test, isolation)">{{isolation.resistance}}</span>
      </td>
      <td style="width:150px"/>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">{{isolation.comments}}</td>
    </tr>
  </table>
</div>
<div style="width: 1200px;border:none" class="atb" ng-show="isolation.atbs.length && !isolation.delete" ng-class="{isolation_selected:isolation.selected}"
     ng-click="select_isolation(isolation)" context-menu context-menu-disabled="!isolation.selected" data-target="menu-isolation">
  <table  style="width:1100px;border:none">
    <tr>
      <td style="width:300px" ng-class="{isolation_selected:isolation.selected}">
        <!--<span ng-class="isolationExpandedClass(isolation)" ng-click="toggleIsolation(isolation)"></span>-->
        <span style="width: 250px; align-content: left" ng-show="isolationHisto(isolation)" class="btn btn-primary text-left" ng-click="showIsolationHisto(isolation)">{{isolation.specimen.name}} <span class="badge">{{isolation.histo.length-1}}</span></span>
        <span ng-show="!isolationHisto(isolation)">{{isolation.specimen.name}}</span>
      </td>
      <td style="width:300px">
        <ui-select style="width:300px" ng-model="isolation.ufc" theme="bootstrap" ng-show="!isolation_readonly(test, isolation)">
          <ui-select-match placeholder="UFCs...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="cfu in cfus|filter:$select.search">
            <span  ng-bind-html="cfu | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span style="font-weight: bold" ng-show="isolation_readonly(test, isolation)">{{isolation.ufc}}</span>
      </td>
      <td style="width:450px">
        <ui-select style="width:420px" ng-model="isolation.resistance" theme="bootstrap" ng-show="!isolation_readonly(test, isolation)">
          <ui-select-match placeholder="Resistencia...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="resistence in resistences|filter:$select.search">
            <span ng-bind-html="resistence | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span style="font-weight: bold" ng-show="isolation_readonly(test, isolation)">{{isolation.resistance}}</span>
      </td>
      <td style="width:150px"/>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">{{isolation.comments}}</td>
    </tr>
    <tr>
      <td></td>
      <td align="left" colspan="2">
        <p></p>
        <table class="atb" ng-show="isolationExpanded(isolation)">
          <thead>
          <tr><th>ATB</th><th>Sens.</th><th>cmi</th><th><span class="glyphicon glyphicon-print"></th><th><span class="glyphicon glyphicon-trash"></span></th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="atb in isolation.atbs" ng-class="{atb_selected:atb.selected}"
              ng-click="select_atb(atb)" ng-keypress="atb_keyup(atb, $event)">
            <td width="250px"><span ng-class="atb_class(atb)">{{atb.atb.name}}</span></td>
            <td width="80px"><span ng-click="change_atb_sens(atb)" class="badge">{{atb.sens}}</span></td>
            <td width="150px"><input style="width: 120px" ng-model="atb.cmi" ng-show="atb.selected" ng-change="atb_changed(atb)"/>
            <span ng-show="!atb.selected">{{atb.cmi}}</span> </td>
            <td width="50px"><span ng-class="atb_report(atb)" aria-hidden="true" ng-click="change_atb_report(atb)"></span></td>
            <td width="20px"><span class="glyphicon glyphicon-remove-circle"  ng-show="atb.selected" ng-click="remove_atb(atb)"></span></td>
          </tr>
          </tbody>
        </table>
        <p></p>

      </td>
    </tr>
  </table>
</div>
<p></p>
<!--
<div class="row" ng-repeat="atb in isolation.atbs">
  <div class="col-sm-offset-1 col-sm-1">
    <span>{{atb.atb.name}}</span>
  </div>
  <div class="col-sm-1">
    <span>{{atb.sens}}</span>
  </div>
</div>
-->
