<div class="col-xs-12 col-md-12 col-lg-12 row"  ng-show="!isolation.atbs.length" ng-class="{isolation_selected:isolation.selected}" ng-click="select_isolation(isolation)"
     context-menu context-menu-disabled="!isolation.selected" data-target="menu-isolation">
  <table class="col-sm-12 col-lg-6">
    <tr>
      <td class="col-sm-2 isolation" ng-class="{isolation_selected:isolation.selected}">
        <span ng-show="isolationHisto(isolation)" class="btn btn-primary" ng-click="showIsolationHisto(isolation)">{{isolation.specimen.name}} <span class="badge">{{isolation.histo.length-1}}</span></span>
        <span ng-show="!isolationHisto(isolation)">{{isolation.specimen.name}}</span>
      </td>
      <td class="col-sm-1">
        <ui-select ng-model="isolation.ufc" theme="bootstrap" ng-show="!isolation_readonly(test, isolation)">
          <ui-select-match placeholder="UFCs...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="cfu in cfus|filter:$select.search">
            <span ng-bind-html="cfu | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span style="font-weight: bold" ng-show="isolation_readonly(test, isolation)">{{isolation.ufc}}</span>
      </td>
      <td class="col-sm-2">
        <ui-select ng-model="isolation.resistance" theme="bootstrap"  ng-show="!isolation_readonly(test, isolation)">
          <ui-select-match placeholder="Resistencia...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="resistence in resistences|filter:$select.search">
            <span ng-bind-html="resistence | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span style="font-weight: bold" ng-show="isolation_readonly(test, isolation)">{{isolation.resistance}}</span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">{{isolation.comments}}</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-12 col-lg-12 row" class="atb" ng-show="isolation.atbs.length" ng-class="{isolation_selected:isolation.selected}"
     ng-click="select_isolation(isolation)" context-menu context-menu-disabled="!isolation.selected" data-target="menu-isolation">
  <table class="col-sm-12 col-lg-6">
    <tr>
      <td class="col-sm-2 isolation" ng-class="{isolation_selected:isolation.selected}">
        <span ng-class="isolationExpandedClass(isolation)" ng-click="toggleIsolation(isolation)"></span>
        <span ng-show="isolationHisto(isolation)" class="btn btn-primary" ng-click="showIsolationHisto(isolation)">{{isolation.specimen.name}} <span class="badge">{{isolation.histo.length-1}}</span></span>
        <span ng-show="!isolationHisto(isolation)">{{isolation.specimen.name}}</span>
      </td>
      <td class="col-sm-1">
        <ui-select ng-model="isolation.ufc" theme="bootstrap" ng-show="!isolation_readonly(test, isolation)">
          <ui-select-match placeholder="UFCs...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="cfu in cfus|filter:$select.search">
            <span ng-bind-html="cfu | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span style="font-weight: bold" ng-show="isolation_readonly(test, isolation)">{{isolation.ufc}}</span>
      </td>
      <td class="col-sm-2">
        <ui-select ng-model="isolation.resistance" theme="bootstrap" ng-show="!isolation_readonly(test, isolation)">
          <ui-select-match placeholder="Resistencia...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="resistence in resistences|filter:$select.search">
            <span ng-bind-html="resistence | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <span style="font-weight: bold" ng-show="isolation_readonly(test, isolation)">{{isolation.resistance}}</span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">{{isolation.comments}}</td>
    </tr>
    <tr>
      <td></td>
      <td align="left" colspan="2">
        <p></p>
        <table class="atb" ng-show="isolationExpanded(isolation)">
          <thead>
          <tr><th>ATB</th><th>Sens.</th><th>cmi</th><th>Rep.</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="atb in isolation.atbs" ng-class="{atb_selected:atb.selected}"
              ng-click="select_atb(atb)" ng-keypress="atb_keyup(atb, $event)">
            <td width="250px"><span class="atb_label">{{atb.atb.name}}</span></td>
            <td width="80px"><span ng-click="change_atb_sens(atb)" class="badge">{{atb.sens}}</span></td>
            <td width="150px">{{atb.cmi}}</td>
            <td width="50px"><span ng-class="atb_report(atb)" aria-hidden="true" ng-click="change_atb_report(atb)"></span></td>
          </tr>
          </tbody>
        </table>
        <p></p>

      </td>
    </tr>
  </table>
</div>
<p></p>
<!--
<div class="row" ng-repeat="atb in isolation.atbs">
  <div class="col-sm-offset-1 col-sm-1">
    <span>{{atb.atb.name}}</span>
  </div>
  <div class="col-sm-1">
    <span>{{atb.sens}}</span>
  </div>
</div>
-->
